<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">

            <FONT FACE="Tahoma" SIZE=28 COLOR="green">
             TU GIMNASIO EN LINEA </FONT> <!–titulo DE NUESTRA PAGINA–> 
                     
            </h1> 
            <h3 class="mb-5">
                
            </h3>
            <a class="btn btn-warning" href="/signin">
                INICIA SESION AHORAA <!–titulo DE BOTN DE INCIO DE APLICACION–> 

            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>

