<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido a tu gimnasio en linea  {{user.fullname}}</h3>



 <HTMl>
                    <head>
                    <title>CALENDARIO DE ACTIVIDADES</title>
                    <link rel="stylesheet" href="styles.css">
                    </head>

                    <body>
                         
                    </body>

                    <main class="container"></main>

                    <section class="mes">
                        
                        <h1 class="name__mes">JULIO</h1>

                    </section>

                    <section class="dias">

                        <div class="dias__item">L</div>
                        <div class="dias__item">M</div>
                        <div class="dias__item">MI</div>
                        <div class="dias__item">J</div>
                        <div class="dias__item">V</div>
                        <div class="dias__item">S</div>
                        <div class="dias__item">D</div>
                        


                        
                    </section>

                    <section class="calendario">

                     <div class="calendario__dia">1</div>
                     <div class="calendario__dia">2</div>
                     <div class="calendario__dia">3</div>
                     <div class="calendario__dia">4</div>
                     <div class="calendario__dia">5</div>
                     <div class="calendario__dia">6</div>
                     <div class="calendario__dia">7</div>
                     <div class="calendario__dia">8</div>
                     <div class="calendario__dia">9</div>
                     <div class="calendario__dia">10</div>
                     <div class="calendario__dia">11</div>
                     <div class="calendario__dia">12</div>
                     <div class="calendario__dia">13</div>
                     <div class="calendario__dia">14</div>
                     <div class="calendario__dia">15</div>
                     <div class="calendario__dia">16</div>
                     <div class="calendario__dia">17</div>
                     <div class="calendario__dia">18</div>
                     <div class="calendario__dia">19</div>
                     <div class="calendario__dia">20</div>
                     <div class="calendario__dia">21</div>
                     <div class="calendario__dia">22</div>
                     <div class="calendario__dia">23</div>
                     <div class="calendario__dia">24</div>
                     <div class="calendario__dia">25</div>
                     <div class="calendario__dia">26</div>
                     <div class="calendario__dia">27</div>
                     <div class="calendario__dia">28</div>
                     <div class="calendario__dia">29</div>
                     <div class="calendario__dia">30</div>
                     <div class="calendario__dia">31</div>

                    </section>


                    <a href="/progreso" target="_blank" class="btn">Abrir Formulario</a>

                            
                                        
                </div>
            </div>
        </div>

    </div>
</div>